@import "tailwindcss";

:root {
  --primary-bg: #90b4c8;
}

.primary-bg {
  background-color: var(--primary-bg);
}
.section-bg {
  background-color: var(--section-bg);
}
.blur-bg {
  @apply bg-white/40 backdrop-blur-md rounded-2xl border border-white/40;
}
